@model GalleryAboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    To use, add the following NuGet feed to your NuGet package manager:
    <pre>@Model.NuGetFeedUrl</pre>
</p>

<p>
    This feed also offers a symbol server. Use it by adding the following symbol source to your debugger configuration:
    <pre>@Model.SymbolsUrl</pre>
</p>
