@*
    This file is a part of SlimGet project.

    Copyright 2019 Emzi0767

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@model GalleryIndexModel
@{
    ViewData["Title"] = "SlimGet Gallery";
}

<h1 class="page-header">Welcome to @this.Context.Request.Host.Host NuGet feed</h1>
<h3 class="page-subheader">This feed is powered by SlimGet</h3>
<h5 class="page-bigtext">This feed currently hosts @($"{this.Model.PackageCount:#,##0}") packages, with a total of @($"{this.Model.VersionCount:#,##0}") distinct versions</h5>

